body {
    font-family: "Monsterrat";
}

/* Title Image */

.title-image {
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-weight: 550;
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-light";
    font-weight: bold;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}



/* Testimonial Section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}
  
.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 992px) {

     #title {
        text-align: center;
     }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    font-family: 'Montserrat-Black', sans-serif;
    color: #fff;
    text-align: center;
}

.cta-heading {
   font-size: 2.5rem;
   line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
}

.social-icon {
    margin: 20px 10px;
}